.header {
    background: #00a199ff;
    width: 100%;
    position: fixed;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 24px;
}

.main {
    height: 100vh;
    display: flex;
    width: 1366px;
    margin: 0 auto;
}

.navbar {
    width: 360px;
    background: #1a4241ff;
    padding: 0 24px;
}

.feed {
    background: #f9f9f9ff;
    width: 100%;
    padding: 24px;
}